<div id="my_imagegallery">
  <%= @images.sort_by{|t| - t.created_at.to_i}.each do |image|%>
    <div class="image_thumb">
      <%=link_to (image_tag image.avatar_url(:thumb).to_s), image_path(image.id)%>
    </div>
    <div class="image_title">
     <label>Title :</label>
      <%= image.title %>
    </div>
    <div class="image_uploadedon">
     <label>Uploaded on :</label>
      <%= image.created_at %>
    </div>
    <br/>
<%end%>
<div/>
